@import '../../util';

.section-search-result-popular {
    width: 94.505494%;
    height: 90%;
    margin-top: 3%;
    
    .result-list {
        height: 9%;
        margin-left: 5.813953%;
        margin-top: 3%;
    }
}