@import '../util';

.community {
  .community_container {
    width: 100%;
    border: 1px solid #E1E1E1;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    margin-bottom: 10px;

    .name_container {
      margin: 0 auto;
      width: 93%;
      height: 65px;
      border-radius: 40px 40px 0px 0px;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .profile_container {
      display: flex;
      align-items: center;
      margin-right: 10px;
    }

    .profile_container {

    }

    .feed_container {
      margin: 0 auto;
      width: 100%;
      height: 100%;
      border: 1px solid #E1E1E1;

      .img_container {
        margin: 0 auto;
        width: 95%;
        height: 350px;
        left: 1.92%;
        right: 3.43%;
        top: 12.57%;
        bottom: 33.99%;
        border: 1px solid #E1E1E1;
        margin-top: 15px;
      }

      .feed_icon_container {
        width: 96%;
        height: 46.9px;
        left: 1.92%;
        right: 3.43%;
        top: 73.01%;
        bottom: 24.95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .icon_container {
        width: 13%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 10px;
      }

      .profile_icon {
        width: 20px;
        height: 20px;
      }

      .profile_icon:nth-child(1) {
        width: 26px;
        height: 26px;
      }

      .like {
        margin-left: 10px;
        margin-bottom: 5px;
      }

      .feed_text_container {
        margin: 0 auto;
        width: 95%;

        p {
          margin-bottom: 10px;
        }

        p > span {
          color: $text-gray;
        }
      }
    }
  }
}