@import '../util';
    .community_feed_comment_container{
        .profile_container{
            display:flex;
            align-items: center;
            .profile_picture{
                width: 55px;
                height: 55px;
                border-radius: 90px;
                background-color: antiquewhite;
                margin-right: 10px;
            }
            .name_container{
                margin-right: 5px;
                & > p{
                    font-size: $body-font-size;
                }
            }
            .time_container > p{
                font-size:$little-font-size;
                color:$text-gray;
            }
        }
        .comment_container{
            width:90%;
            display: flex;
            margin-left:70px;
            margin-bottom:10px;
            .comment_content{
                width:90%;
                margin-right:30px;
                & > p{
                    font-size:$body-font-size;
                    >span{
                        color:#00376b;
                    }
                    >span:nth-child(2){
                        color:$text-gray;
                    }
                }
            }
            .like_container{
                display: flex;
                flex-direction: column;
                align-items: center;
                .like{
                    .profile_icon{

                    }
                }
                & > p{
                    margin-top:-8px;
                    
                }
                
            }
        }
    }



