@import '../../util.scss';

.FriendDetailModal {
    position: fixed;
    width: 26.6667rem;
    height: 26.6667rem;
    background-color: white;
    border-radius: 40px;
    // 화면 중앙 배치
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;

    .close-btn {
        height: 3.3333rem;
        
        img {
            position: absolute;
            top: 30px;
            right: 30px;
            width: 1.3333rem;
            height: 1.3333rem;
        }
    }

    .user-info-container {
        height: 16.6667rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .user-name, .user-image, .user-tag {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .user-name {
            height: 3.3333rem;
        }
    
        .user-image {
            height: 10.6667rem;
            
            img {
                width: 10.6667rem;
                height: 10.6667rem;
                border-radius: 50%;
            }
        }

        .user-tag {
            height: 2.6667rem;
            
            .Tag {
                margin: 0 5px 0 5px;
                
            }
        }
    }

    .menu-btn-container {
        height: 6.6667rem;
        display: flex;
        align-items: center;
        justify-content: center;
        // gap: 20px;

        .menu-btn {
            width: 7.0667rem;
            height: 2.6667rem;
            font-weight: bold;
            color: white;
            background-color: #95989C;
            border-radius: 40px;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); // 검정색 배경에 50% 투명도
    z-index: 1000; // 모달 창보다 낮은 z-index를 가짐
  }