@import '../util';

.myReview_container {
  width: 100%;
  position: relative;

  .myReview_content_box {
    @include articleCommon();
    width: 100%;
    display: flex;
    margin-top: .6667rem;

    .img2 {
      width: 25%;
      height: 110px;
      border-radius: 1.3333rem;
    }

    .content_box {
      width: 72%;
      margin-left: 3%;


      .content1 {
        font-weight: bolder;
        margin-bottom: 10px;
      }


      .regdate {
        float: right;
        font-size: $little-font-size;
        color: $text-gray;
        font-weight: normal;
      }

      .content2 {
        width: 100%;
        height: auto;
        max-height: 100px;
        margin-bottom: 23px;
        font-size: $little-font-size;
        color: $text-gray;
        overflow: hidden;
        white-space: pre-line;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .rating {
        align-items: end;
        margin-right: 10px;
        font-size: 1.3333rem;
      }
    }
  }

  .CustomPagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

}