@import '../util';

.myRecruitment_container {
    width: 100%;
    position: relative;

    .myRecruitment_content_box {
        @include articleCommon();
        width: 100%;
        display: flex;
        margin-top: 1.3333rem;
        margin-bottom: 1.3333rem;
        position: relative;

        .img2 {
            width: 25%;
            height: 8.342rem;
            border-radius: 1.3333rem;
            margin-right: 1.3333rem;
        }

        .content_box {
            position: relative;
            width: 75%;
            height: 8.333rem;
            
            .content1 {
                font-size: $body-font-size;
                font-weight: bolder;
                margin-left: .6667rem;
            }
    
            .regdate {
                font-size: $little-font-size;
                color: $text-gray;
                float: right;
                margin-right: .6667rem;
            }
    
            .content2 {
                font-size: $little-font-size;
                color: $text-gray;
                margin-left: .6667rem;
                margin-top: .6667rem;
            }

            .rating {
                position: absolute;
                bottom: 0;
                left: 0;
                font-size: 1.6667rem;
                margin-left: .6667rem;
            }
        }
    }

    .CustomPagination {
        width: 100%;
        margin-left: 25%;
    }
}