@import '../util';

.ButtonSample {
  float: left;
  width: 100%;

  button {
    float: left;
  }

  #btn-move-review {
    width: 50px;
    height: 50px;
  }
}
.InputSample {
  float: left;
  width: 100%;

  input {
    float: left;
    width:500px;
  }
}

.TagSample {
  float: left;
  width: 100%;

  .Tag {
    width:25px;
  }
  &.tag-color-blue {
    background-color: $blue;
  }
}



.InputSample {
  float: left;
  width: 100%;

  input {
    float: left;
    width:500px;
  }
}

.TagSample {
  float: left;
  width: 100%;

  &.tag-color-blue {
    background-color: $blue;
  }
}


.CommonBorderShadow {
  article {
    @include articleCommon();
  }
}

.HoverDescriptionSample {
  .example-img {
    width: 250px;
  }
}