@import '../util';

.Button, .FullWidthButton, .SvgButton {
  &.btn-color-white {
    color: black;
    background-color: white;

    svg {
      color: black;
    }
  }

  &.btn-color-gray {
    background-color: $button-gray;
  }

  &.btn-color-green {
    background-color: $green;
  }

  &.btn-color-red {
    background-color: $red;
  }

  &.btn-color-yellow {
    background-color: $yellow;
  }

  &.btn-color-blue {
    background-color: $blue;
  }
}

.Button {
  padding: 5px 30px;
  cursor: pointer;
  border: none;
  border-radius: 40px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.FullWidthButton {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.SvgButton {
  cursor: pointer;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;

  svg {
    color: white;
    font-size: 1.333rem;
  }
}