@import '../util';

.Input {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 1rem;
  border-radius: 10px;
  outline: none;

  &::placeholder{
    color:$text-gray;
    padding-left:5px;
  }
  &.input-color-gray {
    background-color:$inptut-gray;
  }
  &.input-color-white {
    background-color: white;
  }

}