@import '../util.scss';

.toggleButton {
    cursor: pointer;
    width: 200px;
    height: 30px;
    text-align: center;
    background-color: lightgray;
    user-select: none;
  }
  
  .menu {
    display: none;
    flex-direction: column;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  .menu.show {
    display: flex;
  }
  
  .menuItem {
    padding: 8px 12px;
    cursor: pointer;
  
    &:hover {
      background-color: #f1f1f1;
    }
  }
