@import '../util';

.SelectBox {
  width: 100%;

  .label {
    font-weight: bold;
    font-size: $little-font-size;
    margin-bottom: 5px;
  }

  .SelectArea {
    position: relative;
    user-select: none;

    .SelectTrigger {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 4.545454% 5%;
      height: 100%;
      line-height: 100%;
      background-color: $inptut-gray;
      cursor: pointer;
      border-radius: 10px;
      background-image: url('../../../public/assets/icons/down_arrow.svg');
      background-repeat: no-repeat;
      background-position: right 4.545454% center;
    }

    .SelectOptions {
      position: absolute;
      display: block;
      top: calc(100% - 1px);
      left: 0;
      right: 0;
      background: #ffffff;
      border: 1px solid #cccccc;
      z-index: 5;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: all 0.25s ease;

      overflow-y: auto;
      max-height: 200px;
      ::-webkit-scrollbar {
        display: none;
      }

      .label-placeholder {
        display: inline-block;
        height: $little-font-size;
      }
    }

    .SelectOptions.open {
      max-height: 200px;
      opacity: 1;
    }


    .SelectOption {
      display: block;
      padding: 4.545454% 15%;
      font-size: $body-font-size;
      line-height: 100%;
      cursor: pointer;

      &.selected {
        background-color: $light-blue;
        position: relative;
        padding-left: 15%;
        background-image: url('../../../public/assets/icons/check_sign.svg');
        background-position: left 4% center;
        background-repeat: no-repeat;
        background-size: 8% auto;
      }

      &:hover {
        background-color: $inptut-gray;
      }

      .SelectBox.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
}