@import '../util';

.Tag {
  padding: 5px 30px;
  cursor: pointer;
  border: none;
  border-radius: 40px;
  color: white;
  font-size: 0.625rem;
  font-weight: bold;

  &.tag-color-blue {
    background-color: $blue;
  }
}



