@import '../util';

.Tag {
  padding: 5px 4%;
  cursor: pointer;
  border: none;
  border-radius: 40px;
  color: white;
  font-size: 0.625rem;
  font-weight: bold;
  margin: 5px;

  &.tag-color-blue {
    background-color: $blue;
  }

}



