@import '../util';

.myRecruitment_container {
    width: 100%;
    position: relative;

    .myRecruitment_content_box {
        @include articleCommon();
        width: 100%;
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;

        .img2 {
            width: 25%;
            height: 8.342rem;
            border-radius: 20px;
            margin-right: 20px;
        }

        .content_box {
            width: 75%;
            height: 8.333rem;
        }

        .content1 {
            font-size: 13px;
            font-weight: bolder;
            margin-left: 10px;
        }

        .regdate {
            font-size: 13px;
            color: $text-gray;
            float: right;
            margin-right: 10px;
        }

        .content2 {
            font-size: 13px;
            color: $text-gray;
            margin-left: 10px;
        }

        .member_img {
            width: 1rem;
            height: 1rem;
            position: absolute;
            bottom: calc(2px);
            right: calc(100% + 5px);
        }

        .member {
            font-size: 13px;
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 30px;
            margin-bottom: 30px;
        }

        #Tag {
            margin-left: 5px;
            margin-bottom: 5px;
            padding: 5px 15px;
        }
    }
    .CustomPagination {
        width: 100%;
        margin-left: 25%;
    }
}