@import '../util';

.myRecruitment_container {
    width: 100%;
    position: relative;

    .myRecruitment_content_box {
        @include articleCommon();
        width: 100%;
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;

        .img2 {
            width: 25%;
            height: 8.342rem;
            border-radius: 20px;
            margin-right: 20px;
        }

        .content_box {
            width: 75%;
            height: 8.333rem;
            position: relative;

            .content1 {
                font-size: 13px;
                font-weight: bolder;
                margin-left: 10px;
            }
    
            .regdate {
                font-size: 13px;
                color: $text-gray;
                margin-right: 10px;
                position: absolute;
                right: 0;
                top: 0;
            }
    
            .content2 {
                font-size: 13px;
                color: $text-gray;
                margin-left: 10px;
            }
        }

        

        

        .tag_box {
            display: flex;
            width: 100%;
            position: absolute;
            bottom: 0;
            #Tag {
                margin-left: 5px;
                margin-bottom: 5px;
                padding: 5px 15px;
            }

            .member_img {
                width: 1rem;
                height: 1rem;
                bottom: calc(15);
            }
    
            .member {
                font-size: 13px;
                margin-left: 55px;
            }
        }
    }

    .CustomPagination {
        width: 100%;
        margin-left: 25%;
    }
}