@import '../util';

.myRecruitment_container {
    width: 100%;
    position: relative;

    .myRecruitment_content_box {
        @include articleCommon();
        width: 100%;
        display: flex;
        margin-top: 1.3333rem; 
        margin-bottom: 1.3333rem;
        position: relative;

        .img2 {
            width: 25%;
            height: 8.342rem;
            border-radius: 1.3333rem;
            margin-right: 1.3333rem;
        }

        .content_box {
            width: 75%;
            height: 8.333rem;
            position: relative;

            .content1 {
                font-size: $little-font-size;
                font-weight: bolder;
                margin-left: .6667rem;
            }

            .regdate {
                font-size: $little-font-size;
                color: $text-gray;
                margin-right: .6667rem;
                position: absolute;
                right: 0;
                top: 0;
            }

            .content2 {
                font-size: $little-font-size;
                color: $text-gray;
                margin-left: .6667rem;
            }
        }





        .tag_box {
            display: flex;
            width: 100%;
            position: absolute;
            bottom: 0;

            #Tag {
                margin-left: .3333rem;
                margin-bottom: .3333rem;
                padding: .3333rem 1rem;
            }

            .member_img {
                width: .8rem;
                height: .8rem;
                bottom: calc(15);
                margin-right: .2rem;
                
            }

            .member {
                font-size: $little-font-size;
                margin-left: 3.6667rem;
                color: $text-gray;
            }
        }
    }

    .CustomPagination {
        position: absolute;
        left: 20%;
        bottom: calc(-7%);
        transform: translateX(-30%);
    }
}