@import '../util';

.recruitment_container {
  width: 100%;
  position: relative;

  .recruitment_community_box {
    width: 100%;
    height: 18.333rem;
    background: rgb(243, 243, 243);
    border-radius: 2.6667rem 2.6667rem 0px 0px;
    text-align: center;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.09);

    .img1 {
      width: 100%;
      height: 16rem;
      border-radius: 2.6667rem 2.6667rem 0px 0px;
    }
  }

  .title_box {
    width: 100%;
    height: 2.333rem;
    font-weight: bold;
    margin-top: 1.6667rem;
    margin-bottom: 1.6667rem;
    display: flex;
    align-items: center;

    .title {
      text-align: center;
      margin-left: 25%;
    }

    .report_box {
      display: flex;
      align-items: center;

      #report {
        width: 2.333rem;
        height: 2.333rem;
        margin-left: 6.667rem;
      }
    }
  }

  .content_box {
    width: 100%;
    height: 23.333rem;
    background: rgb(243, 243, 243);
    border-radius: 1.3333rem;
    position: relative;

    .content_text {
      width: 80%;
      height: 80%;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 1.3333rem;
      margin-left: 1.3333rem;
      margin-right: .6667rem;
      font-size: $little-font-size;
    }

    .content_regdate {
      width: 15%;
      height: 5%;
      text-align: center;
      color: $text-gray;
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 1.3333rem;
      font-size: $little-font-size;

    }

    .content_writer {
      width: 20%;
      height: 5%;
      text-align: center;
      color: $text-gray;
      position: absolute;
      bottom: 0;
      right: 0;
      margin-bottom: 1.3333rem;
      font-size: $little-font-size;
    }

    .content_member_box {
      position: absolute;
      bottom: calc(15%);
      left: 0;
      margin-left: 1.3333rem;

      .member_img {
        width: .8rem;
        height: .8rem;
        bottom: calc(15);
        margin-right: .2rem;

      }

      .member {
        font-size: $little-font-size;
        color: $text-gray;
      }
    }

    .content_tag {
      position: absolute;
      bottom: 0;
      left: 0;
      margin-bottom: 1.3333rem;
      margin-left: .6667rem;

      #Tag {
        margin-left: .3333rem;
        margin-bottom: .3333rem;
        padding: .3333rem 1.3333rem;
        font-size: .7333rem;
      }
    }


  }

  .btn_box {
    width: 100%;
    position: relative;
    margin-top: 1.3333rem;

    #join_btn {
      position: absolute;
      right: 0%;
    }

    #delete_btn {
      position: absolute;
      right: 0%;

    }

    #modify_btn {
      position: absolute;
      right: 0%;
      margin-right: 8.6667rem;
    }
  }
}