@import '../util';

.recruitmentReg_container {
    position: relative;
    width: 100%;

    .recruitmentReg_community_box {
      .input-container {
        display: flex;
        width: 100%;
        #communityName {
          width: 76.7%;
          margin-bottom: 2%;
        }
        .label-name {
          width: 23.3%;
          text-align: center;
          margin-top: 1%;
        }

        #title {
          width: 76.7%;
        }
       
        .label-name1 {
          width: 23.3%;
          text-align: center;
          margin-top: 1%;
        }
      }

    }

    .recruitmentReg_content_box {
        position: relative;
        width: 100%;
        height: 33.3333rem;
        margin-top: 5%;

        .recruitmentReg_content {
            @include textareaCommon();
            width: 100%;
            height: 75%;
            border: 1px solid #E1E1E1;
            font-size: $body-font-size;
        }

        #Button {
            margin-top: 3%;
            float: right;
        }
    }
}