@import '../util';

.RecruitmentCommendList{
    width: 100%;
    display: flex;
}

.recruitment_title {
    display: flex;

        #CachedIcon {
            width: 1.7rem;
            height: 1.7rem;
            margin-left: 15px;
            margin-top: 16px;
        }

}



.RecruitmentCommendComponent{
    width: 25%;
    margin: 10px;
    img {
        width: 100%;
        height: 9.176rem;
        border-radius: 20px;
    }
    
    h2 {
        text-align: center;
        font-size: 0.867rem;
        font-weight: bolder;
    }
}

.recruitment_container {
    position: relative;
    width: 51.2rem;


    .recruitment_commend {
        height: 14.667rem;
        display: flex;
    }
    
    .recruitment_box {
        margin: 10px;
        width: 48.267rem;
        height: 1.667rem;
        display: flex;
    
        #SearchIcon {
            width: 1.667rem;
            height: 1.667rem;
            margin-right: 10px;
        }

        .recruitment_select {
            width: 24.333rem;
            height: 1.667rem;
            border-radius: 10px;
            background: rgb(243, 243, 243);
            border: none;
            text-align: center;
            margin-right: 2.533rem;
        }

        .recruitment_p {
            font-size: 0.867rem;
            font-weight: bold;
        }

        #Sort {
            font-size: 1px;
            width: 13.8rem;
            height: 1.667rem;
            float: right;
        }
    }

    .recruitment_box1 {
        width: 48.267rem;
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;

        .img2 {
            width: 11.8rem;
            height: 8.342rem;
            border-radius: 20px;
            margin-right: 20px;
        }

        .recruitment_content_box {
            width: 35.2rem;
            height: 8.333rem;
            background: rgb(243, 243, 243);
            border-radius: 20px;
        }

        .recruitment_content1 {
            font-size: 13px;
            font-weight: bolder;
            margin-left: 10px;
        }

        .recruitment_regdate {
            font-size: 13px;
            color: $text-gray;
            float: right;
            margin-right: 10px;
        }

        .recruitment_content2 {
            font-size: 13px;
            color: $text-gray;
            margin-left: 10px;
        }

        .recruitment_member_img {
            width: 1rem;
            height: 1rem;
            position: absolute;
            bottom: calc(2px);
            right: calc(100% + 5px);
        }

        .recruitment_member {
            font-size: 13px;
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 10px;
        }


    }

        #SvgButton {
            position: fixed;
            bottom: 14%;
            right: 32%; 
            width: 2.667rem;
            height: 2.667rem;
        }
}





