@import '../util';

.recruitment_container {
  width: 100%;
  position: relative;

  .upload_container {
    @include textareaCommon();
    width:100%;
    height: 10rem;
    margin-top: 1%;
    border: 1px solid #E1E1E1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius:40px 40px 0px 0px;
  }
  .image_upload_icon{
    width:33%;
    height:33%;
    margin-bottom: 2%;
  }
  .title_container{
    width: 100%;
    height: 2.333rem;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    position: relative;
    .title_text{
      font-size: $h2-font-size;
        border: none;
        font-weight: bold;
        width: 100%;
        text-align: center;
        outline: none;
    }

    .report_box {
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;
      margin-top: 1%;
      #report {
        width: 2.333rem;
        height: 2.333rem;
      }
    }
  }
  .content_box {
    width: 100%;
    height: 23.333rem;
    background: rgb(243, 243, 243);
    border-radius: 1.3333rem;
    position: relative;

    .content_text {
      width: 90%;
      height: 80%;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 3%;
      margin-left: 3%;
      font-size: $little-font-size;

      .content_input {
        border: none;
        width: 100%;
        height: 100%;
        background: none;
        resize: none;
        outline: none;
      }
    }

    .content_regdate {
      width: 15%;
      height: 5%;
      text-align: center;
      color: $text-gray;
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 3%;
      font-size: $little-font-size;

    }

    .content_writer {
      height: 5%;
      text-align: center;
      color: $text-gray;
      position: absolute;
      bottom: calc(15%);
      left: 0;
      margin-left: 3%;
      font-size: $little-font-size;
    }

    .content_member_box {
      position: absolute;
      bottom: 0;
      right: 0;
      margin-bottom: 3%;
      margin-right: 3%;

      .member_img {
        width: .8rem;
        height: .8rem;
        bottom: calc(15);
      }

      .member {
        font-size: $little-font-size;
        color: $text-gray;
      }
    }

    .content_tag {
      position: absolute;
      bottom: 0;
      left: 0;
      margin-bottom: 3%;
      margin-left: 1.5%;
      width: 80%;

      #Tag {
        margin-left: .3333rem;
        margin-bottom: .3333rem;
        padding: .3333rem 1.3333rem;
        font-size: .7333rem;
      }
    }


  }

  .btn_box {
    width: 100%;
    position: relative;
    margin-top: 3%;

    #delete_btn {
      position: absolute;
      right: 0%;

    }

    #modify_btn {
      position: absolute;
      right: 0%;
      margin-right: 18%;
    }
  }

  .btn_box1 {
    width: 100%;
    position: relative;
    margin-top: 3%;

    #join_btn {
      position: absolute;
      right: 0%;
    }
  }
}