@import '../util';

.recruitment_container {
  width: 100%;
  position: relative;

  .recruitment_community_box {
    width: 100%;
    height: 18.333rem;
    background: rgb(243, 243, 243);
    border-radius: 40px 40px 0px 0px;
    text-align: center;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.09);

    .img1 {
      width: 100%;
      height: 16rem;
      border-radius: 40px 40px 0px 0px;
    }
  }

  .title_box {
    width: 100%;
    height: 2.333rem;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;

    .title {
      text-align: center;
      margin-left: 25%;
    }

    .report_box {
      display: flex;
      align-items: center;

      #report {
        width: 2.333rem;
        height: 2.333rem;
        margin-left: 6.667rem;
      }
    }
  }

  .content_box {
    width: 100%;
    height: 23.333rem;
    background: rgb(243, 243, 243);
    border-radius: 20px;
    position: relative;

    .content_text {
      width: 80%;
      height: 80%;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 10px;
      font-size: 13px;
    }

    .content_regdate {
      width: 15%;
      height: 5%;
      text-align: center;
      color: $text-gray;
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 20px;
      font-size: 13px;

    }

    .content_writer {
      width: 20%;
      height: 5%;
      text-align: center;
      color: $text-gray;
      position: absolute;
      bottom: 0;
      right: 0;
      margin-bottom: 20px;
      font-size: 13px;
    }

    .content_member_box {
      position: absolute;
      bottom: calc(15%);
      left: 0;
      margin-left: 20px;

      .member {
        position: relative;
        margin-left: 20px;
        font-size: 13px;
        .member_img {
            width: 1rem;
            height: 1rem;
            position: absolute;
            bottom: calc(2px);
            right: calc(100% + 5px);
        
        }
      }
    }

    .content_tag {
      position: absolute;
      bottom: 0;
      left: 0;
      margin-bottom: 20px;
      margin-left: 10px;

      #Tag {
        margin-left: 5px;
        margin-bottom: 5px;
        padding: 5px 20px;
        font-size: 11px;
      }
    }


  }

  .btn_box {
    width: 100%;
    position: relative;
    margin-top: 20px;

    #join_btn {
      position: absolute;
      right: 0%;
    }

    #delete_btn {
      position: absolute;
      right: 0%;

    }

    #modify_btn {
      position: absolute;
      right: 0%;
      margin-right: 130px;
    }
  }
}