@import '../util';

.RecruitmentCommendList {
    width: 100%;
    display: flex;
}

.recruitment_title {
    display: flex;

    #CachedIcon {
        width: 1.7rem;
        height: 1.7rem;
        margin-left: 1%;
    }

}



.RecruitmentCommendComponent {
    width: 25%;
    margin: 10px;

    img {
        width: 100%;
        height: 9.176rem;
        border-radius: 20px;
    }

    h2 {
        text-align: center;
        font-size: 0.867rem;
        font-weight: bolder;
    }
}

.recruitment_container {
    position: relative;
    width: 51.2rem;

    .recruitment_title2 {
        margin-bottom: 20px;
    }
    .recruitment_commend {
        height: 14.667rem;
        display: flex;
        
    }

    .recruitment_box {
        width: 100%;
        height: 1.667rem;
        margin-bottom: 30px;
        display: flex;

        #SearchIcon {
            width: 1.667rem;
            height: 1.667rem;
            margin-right: 10px;
            margin-top: 1%;
        }

        #Input {
            width: 100%;
            height: 80%;
            border: none;
            margin-right: 10%;
            margin-bottom: 1%;
            font-size: 13px;
        }

        .SelectBox {
            width: 100%;
            margin-bottom: 100px;
        }
    }

    .recruitment_box1 {
        width: 100%;
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;

        .img2 {
            width: 11.8rem;
            height: 8.342rem;
            border-radius: 20px;
            margin-right: 20px;
        }

        .recruitment_content_box {
            width: 100%;
            height: 8.333rem;
            background: rgb(243, 243, 243);
            border-radius: 20px;
        }

        .recruitment_content1 {
            font-size: 13px;
            font-weight: bolder;
            margin-left: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .recruitment_regdate {
            font-size: 13px;
            color: $text-gray;
            float: right;
            margin-right: 15px;
        }

        .recruitment_content2 {
            font-size: 13px;
            color: $text-gray;
            margin-left: 10px;
        }

        .tag_box {
            display: flex;
            width: 100%;
            margin-top: 25px;
            position: relative;

            #Tag {
                margin-left: 5px;
                padding: 5px 15px;

            }

            .member_box {
                margin-left: 16%;
                .recruitment_member_img {
                    width: 12px;
                    height: 12px;
                    bottom: calc(2px);
                    margin-right: 3px;
                }

                .recruitment_member {
                    font-size: 13px;
                    margin-right: 10px;
                }
            }
        }


    }

    #SvgButton {
        position: fixed;
        bottom: 15%;
        right: 32%;
        width: 40px;
        height: 40px;
    }
}