@import '../util';

.recruitmentReg_container {
    position: relative;
    width: 100%;

    .input-container {
        margin-bottom: 1.3333rem;
        .Input {
          width: 84%;
        }
      }
    
      .label-name:nth-child(1) {
        margin-right: 2.6%;
      }
    
      .input-container:nth-child(2) .label-name {
        margin-right: 8.1%;
      }
    

    .recruitmentReg_content_box {
        position: relative;
        width: 100%;
        height: 33.3333rem;
        margin-top: 1.3333rem;

        .recruitmentReg_content {
            @include textareaCommon();
            width: 100%;
            height: 75%;
            border: 1px solid #E1E1E1;
        }

        #Button {
            margin-top: 2rem;
            float: right;
        }
    }
}