@import '../util';

.TravelInfoItemVerticalAlign {
  width: 220px;
  @include articleCommon();
  padding: 10px;

  img {
    width: 100%;
    height: 125px;
    border-radius: 40px 40px 0px 0px;
  }

  h2 {
    text-align: center;
  }
}