body {
    width: 768px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
    margin-bottom: 80px;
    padding: 20px;
    width: calc(100% - 40px);

    > div {
        width: 100%;
    }
}

@media (max-width: 767px) {
    body {
        width: 100%;
    }
}

@media (max-width: 349px) {
    body {
        width: 350px;
    }
}