@import 'util';

.Footer {
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    height: 9.765625%;
    
    
    .container {
        display: flex;
        width: 768px;
        margin: 0 auto;
        border-radius: 45px 45px 0px 0px;
        box-shadow: 0px -2px 15px 5px rgba(0, 0, 0, 0.09);
        
        .location {
            display: flex;
            margin-left: 12.630208%;
            width: 4.557291%;
            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
        }

        .heart {
            display: flex;
            margin-left: 13.020833%;
            width: 4.557291%;
            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
        }

        .home {
            display: flex;
            margin-left: 13.020833%;
            width: 4.557291%;
            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
        }

        .search {
            display: flex;
            margin-left: 13.020833%;
            width: 4.557291%;
            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
        }

        .friend {
            display: flex;
            margin-left: 13.020833%;
            width: 4.557291%;
            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
        }
    }
}

