@import 'util';

.Footer {
    //width: 768px;
    bottom: 0px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:20;
    height: 100px;
    border: 1px solid;

    .location {
        margin-left: 97px;
    }

    .container{
        width: 768px;
        margin: 0 auto;
        background-color: pink;
    }
}

