@import 'util';

.Footer {
  z-index: 1;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;


  .container {
    position: relative;
    width: 768px;
    height: 100px;
    margin: 0 auto;
    border-radius: 45px 45px 0px 0px;
    box-shadow: 0px -2px 15px 5px rgba(0, 0, 0, 0.08);
    background-color: white;

    #SvgButton {
      position: absolute;
      right: 1.3333rem;
      bottom: 120px;
      width: 35px;
      height: 35px;

      @media (max-width: 51.2rem) {
        right: 30px;
        bottom: 120px;
      }
    }


    .icon-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      > div {
        display: flex;
        justify-content: center;
        align-content: center;
      }

      .icon {
        width: 30px;
        height: 30px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.25);
        }
      }

      .bookmark .icon {
        width: 30px;
        height: 30px;
        color: #c9cfcd;
      }

    }
  }
}

@media (max-width: 767px) {
  .Footer, .Footer .container {
    width: 100%;
  }
}

@media (max-width: 349px) {
  .Footer, .Footer .container {
    width: 350px;
  }
}