@import 'util';

.Header {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 5.371093%;
    border: 1px solid;

    .container {
        display: flex;
        width: 768px;
        margin: 0 auto;
        background-color: pink;
        
        .logo {
            margin-left: 4.16666%;
            width: 7.29166%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .title {
            display: flex;
            width: 74.21875%;
            font-family: "Noto Sans";
            font-size: 1.6rem;
            font-weight: 700;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    
        .chat {
            width: 3.25520%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .alarm {
            padding-left: 3.25520%;
            width: 3.25520%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}